@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Noto Sans KR', sans-serif;
  -webkit-tap-highlight-color: transparent;
}

ul,
ol {
  list-style: none;
}

.App {
  text-align: center;
  padding: 40px 0;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}


/* DiaryEditor컴포넌트 */

.DiaryEditor {
  padding: 5.333%;
  width: 89.33%;
  max-width: 1024px;
  margin: 0 auto;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.DiaryEditor input,
textarea {
  width: 100%;
  margin: 10px 0;
}

.DiaryEditor input {
  height: 50px;
  box-sizing: border-box;
  padding: 0 20px;
  font-size: 16px;
}

.DiaryEditor textarea {
  height: 300px;
  font-size: 14px;
  box-sizing: border-box;
  padding: 20px;
}

.DiaryEditor div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}

.DiaryEditor h2 {
  margin-bottom: 30px;
}

.DiaryEditor h3 {
  flex-grow: 1;
}

.DiaryEditor select {
  flex-grow: 2;
  margin-left: 10px;
  box-sizing: border-box;
  padding: 10px;
  min-height: 40px;
  background-color: transparent;
  border: 1px solid #000;
}

.DiaryEditor button {
  display: block;
  width: 100%;
  height: 50px;
  border: 1px solid #ccc;
  color: #000;
  font-weight: bold;
  font-size: 14px;
  margin-top: 30px;
}

/* DiaryItem 컴포넌트 */
.DiaryItem {
  list-style: none;
  width: 89.33%;
  max-width: 1024px;
  box-sizing: border-box;
  margin: 20px auto 0;
  padding: 5.333%;
  border: 1px solid #ccc;
  box-shadow: 01px 2px rgba(0, 0, 0, 0.1);
}

.DiaryItem li {
  font-size: 20px;
  text-align: left;
}

.DiaryItem li:nth-child(1) {
  font-size: 22px;
  font-weight: bold;
}

.DiaryItem li:nth-child(2) span {
  position: relative;
  display: block;
  border: 1px dashed #ccc;
  min-height: 100px;
  box-sizing: border-box;
  padding: 10px;
  margin: 10px 0;
  font-size: 14px;
  font-weight: 500;
  overflow: hidden;
}

.DiaryItem li:nth-child(3),
.DiaryItem li:nth-child(4) {
  font-size: 15px;
}

.DiaryItem textarea {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
  display: block;
  font-size: 14px;
  resize: none;
  min-height: inherit;
  outline: none;
  border: none;
  margin: 0;
  font-weight: 500;
  box-sizing: border-box;
}

.DiaryItem button {
  padding: 10px;
  color: #fff;
  border: none;
  background-color: #1f80fd;
  border-radius: 8px;
  margin-top: 7px;
  font-size: 12px;
}

.diary-list {
  margin-top: 50px;
}

/* Dark Mode Btn css */
.App.dark {
  background-color: #000;
}

.App.dark h1,
.App.dark h2,
.App.dark h3,
.App.dark h4,
.App.dark h5,
.App.dark span,
.App.dark div,
.App.dark ul,
.App.dark li,
.App.dark button,
.App.dark textarea,
.App.dark select,
.App.dark input {
  color: #fff;
  background-color: #000;
}

.App.dark input::placeholder {
  color: #fff;
}

.App.dark textarea::placeholder {
  color: #fff;
}

.App.dark select,
.App.dark input,
.App.dark button {
  border: 1px solid #fff;
  background-color: #000;
}

/* diaryInfo */

.DiaryInfo {
  width: 89.33%;
  max-width: 1024px;
  margin: 0 auto;
  font-size: 15px;
  text-align: left;
  padding: 0 5.333%;
}

.DiaryInfo li {
  margin-top: 5px;
}